.banner{
  height: 760px;
  width: 1440px;
  background-image: url(../../assets/banner.svg);
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-logo {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  text-align: left;
  flex-direction: column;
  margin-top: 210px;
  margin-left: 50px;
}

.banner-text {
  display: flex;
  color: #FFF;
  justify-content: left;
  text-align: center;
  align-items: center;
  margin-left: 100px;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.banner-button {
  width: 320px;
  height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px 12px 16px;
  margin-top: 20px;
  margin-left: 60px;

  background-color: #FFF;
  color: #202833;
  border: 1px solid #FFF;
  border-radius: 100px;

  font-family: 'PP Neue Montreal';
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}

.banner-button-arrow {
  width: 12px;
  height: 12px;
}

.communication-buttons {
  display: inline-flex;
  justify-content: space-between;
}

.banner-button-phone {
  width: 64px;
  height: 64px;

  margin-top: 68px;
  margin-left: 60px;

  background-color: #202833;
  color: #FFF;
  border: 1px solid #202833;
  border-radius: 100px;
}

.banner-button-chat {
  width: 64px;
  height: 64px;

  margin-top: 68px;
  margin-right: 50px;

  background-color: #202833;
  color: #FFF;
  border: 1px solid #202833;
  border-radius: 100px;
}

.chat-media-icons {
  position: absolute;
  display: flex;

  justify-content: space-between;
}

.chat-messenger {
  display: flex;
}

.chat-whatsup {
  display: flex;
}

.chat-media-facebook {

    &::after {
      content: "+1 234 555-55-55";
      position: absolute;
      display: block;
      right: 8px;
      bottom: 8px;

      width: 180px;
      /* color: $main-text-color; */

      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 2px;

      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
