.page-blog {
  display: inline;
}

.blog-title {
  color: #202833;

  font-family: "Ogg TRIAL";
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  text-transform: uppercase;
}

.container-videos {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 96px;
  margin-bottom: 140px;
  flex-wrap: nowrap;
}

.video-blog-1 {
  display: flex;
  flex-direction: column;
  width: 660px;
  height: 462px;
  margin-right: 10px;

  border: 1px solid #202833;
  border-radius: 15px;
}

.video-blog-2 {
  display: flex;
  flex-direction: column;
  width: 660px;
  height: 462px;
  border: 1px solid #202833;
  border-radius: 15px;
}

.video-img-1 {
  width: 660px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  border-radius: 15px;
}

.video-img-2 {
  width: 660px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  border-radius: 15px;
}

.video-img-2 {
  border-radius: 15px;
}

.video-name-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding: 16px 16px 16px 16px;

  color: #202833;
  font-family: 'PP Neue Montreal';
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.video-name-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding: 16px 16px 16px 16px;

  color: #202833;
  font-family: 'PP Neue Montreal';
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.video-button-1 {
  width: 628px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;

  background-color: #213555;
  color: #FFF;
  border: 1px solid #202833;
  border-radius: 100px;

  margin: auto;
}


.video-button-2 {
  width: 628px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 16px 16px 16px;

  background-color: #213555;
  color: #FFF;
  border: 1px solid #202833;
  border-radius: 100px;

  margin: auto;
}
