.nav {
  display: inline-flex;
  width: 538px;
  height: 22px;

  /* margin: 60px 452px; */
}

.nav__list {
  display: inline-flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;

  margin-left: 16px;
  margin-right: 16px;
}

.nav__link {
  text-decoration: none;
  color: #213555;
  display: flex;
  align-items: center;
  position: relative;
  height: 60px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  justify-content: space-between;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}
