.nav {
  background-color: #222;
}

&__list {
  display: flex;
  align-items: center;
  list-style: none;
}

&__link {
  text-decoration: none;
  color: #000;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  font-family: "Roboto", sans-serif;
}
