.card {
  display: grid;
  flex-direction: row-reverse;

  border: 1px solid #202833;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  padding: 16px 16px 16px 16px;
}

.stars {
  display: inline;
  gap: 4px;
  margin-bottom: 16px;
}

.feedback-case {
  display: block;
  gap: 16px;
  padding-bottom: 16px;
}

.user {
  display: inline;
}

.user-name {
  display: inline;
  margin-bottom: 8px;

  color: #6E7A8A;
  font-family: "PP Neue Montreal";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.feedback-text {
  color: #6E7A8A;
  font-family: "PP Neue Montreal";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}