.consultation-container {
  display: grid;
  justify-content: space-between;
  align-items: start;
}

.consultation-title {
  color: #202833;
  font-family: "Ogg TRIAL";
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}

.appointment-case {
  margin-top: 56px;
}

.appointment {
  color: #202833;
  font-family: "PP Neue Montreal";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;

  margin-bottom: 16px;
}

.appointment-text {

}