.container {
  display: inline;
  width: 1340px;
  height: 324px;
}

.consultation-title {
  display: inline;
  color: #202833;
  font-family: "Ogg TRIAL";
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}

.case {
  display: inline-flex;
  margin-top: 56px;
}

.title {
  display: flex;
  flex-direction: column;

  margin-top: 56px;
}

.text-case {
  display: flex;
  gap: 190px;
  flex-direction: column;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;

  color: #202833;
  font-family: "PP Neue Montreal";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.form {
  display: flex;
  width: 830px;
  height: 465px;
  margin-top: 56px;
  margin-left: 190px;
}