.wrraper {
  display: inline;
  width: 1340px;
  height: 324px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.services {
  display: inline;
  color: #202833;
}

.item {
  background: #fff;
  padding: 10px 20px;
}

.main-title {
  display: block;
  margin-top: 120px;
  margin-bottom: 56px;

  color: #202833;

  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  text-transform: uppercase;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #202833;
  cursor: pointer;

  font-family: "PP Neue Montreal";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}

.number {
  display: block;
  width: 14px;
  height: 21px;
  left: 50px;
  right: 1376px;
  top: 24px;
  bottom: 32px;

  color: #202833;
  font-family: "Ogg TRIAL";
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.answer {
  display: none;
  color: #202833;
}

.answer.show {
  display: block;
  color: #202833;
}