.wrraper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.services {
  width: 500px;
}

.item {
  background: #213555;
  padding: 10px 20px;
}

.maine-title {
  display: inline-flex;
  margin-top: 144px;
  margin-bottom: 56px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #202833;
  cursor: pointer;
}

.answer {
  color: #fff;
}