.services {
  --columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  margin-top: 144px;
}

.title {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;

  margin-bottom: 56px;
}

