.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  border: 1px solid #202833;
  border-radius: 15px;
  width: 100%;
  padding: 24px 32px 24px 32px;
}

.name {
  width: 766px;
  height: 24px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 13px 16px 13px 16px;

  margin-bottom: 16px;

  color: #202833;
  font-family: 'PP Neue Montreal';
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.phone-number {
  width: 766px;
  height: 24px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 13px 16px 13px 16px;

  margin-bottom: 16px;

  color: #202833;
  font-family: 'PP Neue Montreal';
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.email {
  width: 766px;
  height: 24px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 13px 16px 13px 16px;

  margin-bottom: 16px;

  color: #202833;
  font-family: 'PP Neue Montreal';
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.text-area {
  width: 766px;
  height: 200px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 13px 16px 13px 16px;

  margin-bottom: 16px;

  color: #202833;
  font-family: 'PP Neue Montreal';
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.form-buttom {
  flex-direction: column;
  justify-content: center;
  width: 766px;
  height: 46px;
  padding: 12px 16px;
  margin: 0 32px 24px 32px;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  border-radius: 100%;
  background-color: #213555;
  color: #FFF;
  cursor: pointer;
  gap: 10px;
}
