.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  border: 1px solid #202833;
  border-radius: 15px;
  width: 100%;
  padding: 24px 32px 24px 32px;
}

.form-name {
  width: 766px;
  height: 24px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 13px 16px 13px 16px;

  margin-bottom: 16px;

  color: #202833;
  font-family: 'PP Neue Montreal';
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;

  /* border-radius: 15px; */
}

.form-phone-number {
  width: 766px;
  height: 24px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 13px 16px 13px 16px;

  margin-bottom: 16px;

  color: #202833;
  font-family: 'PP Neue Montreal';
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;

  /* border-radius: 15px; */
}

.form-email {
  width: 766px;
  height: 24px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 13px 16px 13px 16px;

  margin-bottom: 16px;

  color: #202833;
  font-family: 'PP Neue Montreal';
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;

  /* border-radius: 15px; */
}

.form-text-area {
  width: 766px;
  height: 200px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 13px 16px 13px 16px;

  margin-bottom: 16px;

  color: #202833;
  font-family: 'PP Neue Montreal';
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;

  /* border-radius: 15px; */
}

.form-button {
  width: 100%;
  height: 46px;

  display: flex;
  padding: 12px 16px;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;

  border-radius: 100px;
  background-color: #213555;
  border: 1px solid #213555;
  color: #FFF;
  cursor: pointer;
}
