.button {
  display: flex;
  width: 320px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;

  border-radius: 100px;
  background-color: #213555;
  color: #FFF;
  cursor: pointer;
  gap: 10px;
}