.button {
  display: flex;

  justify-content: center;
  text-align: center;
  align-items: center;
  text-decoration: none;

  border-radius: 100px;
  border: 1px solid #213555;
  cursor: pointer;
  gap: 10px;
}
