.container-partners {
  display: inline;
  width: 1340px;
  height: 324px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Переміщує контейнер на 100% вліво */
  }
}

.block-partners {
  display: inline-flex;
  margin: 140px 0 120px 0;

  justify-content: left;
  text-align: left;

  /* animation: slide 30s infinite linear; */

}

.partners-item:not(:last-child) {
  margin-right: 40px;
}

.dolynka {
  width: 106px;
  height: 60px;
  display: flex;
}

.insurance {
  width: 130px;
  height: 70px;
  display: flex;
}

.radio {
  width: 150px;
  height: 70px;
  display: flex;
}

.selfreliance {
  width: 80px;
  height: 60px;
  display: flex;
}
