.content {
  /* display: flex; */
  margin-top: 120px;
  margin-bottom: 56px;
}

.feedback-title {
  color: #202833;

  font-family: "Ogg TRIAL";
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  text-transform: uppercase;

  margin-bottom: 56px;
}

.container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.card {
  display: grid;
  flex-direction: row-reverse;

  border: 1px solid #202833;
  border-radius: 5px;
  width: 22%;
  padding: 16px 16px 16px 16px;
}

.case {
  display: block;
  gap: 16px;
  padding-bottom: 16px;
}

.user {
  display: inline;
}

.user-name {
  display: inline;
  text-align: center;
}