.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 100px;

  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.app-logo {
  display: block;
  padding: 55px 46px 55px 50px;
  justify-content: center;
  align-items: center;
}