.header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 100px;

  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.app-logo {
  display: block;
  padding: 55px 46px 55px 50px;
  justify-content: center;
  align-items: center;
}

.phone-number-button {
  width: 262px;
  height: 46px;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;

  background-color: #213555;
  color: #FFF;
  border: 1px solid #213555;
  border-radius: 100px;

  font-family: 'PP Neue Montreal';
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
}

.consultation-header-button {
  width: 262px;
  height: 46px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #213555;
  color: #FFF;
  border: 1px solid #213555;
  border-radius: 100px;

  font-family: 'PP Neue Montreal';
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}

.language-block {
  display: inline-flex;
  justify-content: space-between;
  margin: 56px 50px 56px 24px;
}

.eng-language {
  width: 32px;
  height: 22px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  margin-right: 10px;
}

.ua-language {
  width: 19px;
  height: 22px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  margin-right: 10px;
}
